<div
  aria-hidden="true"
  aria-labelledby="CloseModalLabel"
  class="modal fade show d-block"
  id="CloseModal"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p>سيتم نشر المعلومة و إرسال اشعار إلى الجهات الوطنية </p>
      </div>
      <div class="modal-footer">
        <button (click)="save()" class="bttn btn-wave" type="button">
          تأكيد
        </button>
        <button
          (click)="close()"
          class="bttn btn-cancel"
          data-bs-dismiss="modal"
          type="button"
        >
          إلغاء
        </button>
      </div>
    </div>
  </div>
</div>
